.socialLogin
    button.social-login--facebook
            span
                i.fab.fa-facebook
                | Facebook Connect
    button.social-login--
        a(href=routes.gitHubLogin)
            span
                i.fab.fa-github
                | Github Connect