.socialLogin
    button.social-login--facebook
        a(href=routes.facebookLogin)
            span
                i.fab.fa-facebook
                | Facebook Connect
    button.social-login--github
        a(href=routes.gitHubLogin)
            span
                i.fab.fa-github
                | Github Connect
    button.social-login--kakao
        a(href=routes.kakaoLogin)
            span
                i.fas.fa-sms
                | Kakao Connect