.userDetail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto);
  align-content: center;
  justify-content: center;
  text-align: center;
  img {
    width: 100px;
    border-radius: 50%;
    margin-top: 50px;
  }
  .videoBlock {
    width: 400px;
    video {
      width: 400px;
    }
  }
}
.loggedUserMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
