extends layouts/main

block content
    .form-container
        form(action=routes.changePassword(loggedUser.id), method="post")
            input(type="text", placeholder="Old Password", name='oldPassword')
            input(type="text" name="newPassword" placeholder="New Password",)
            input(type="text" name="vertifyPassword" placeholder="Vertify Password",)
            input(type='submit', value='Change Password')