extends layouts/main

block content
    .userDetail
        .userDetail__header
            if(user.avatarUrl)
                img.avatar(src=user.avatarUrl, alt="#")
            else
                h1=usernotfound
            h4=user.name
