@import "./config/variables.scss";
@import "./config/reset.scss";

@import "./pages/main.scss";
@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./pages/form.scss";

@import "./partials/sociallogin.scss";
 
@import "./partials/grid.scss";

@import "../scss/partials/videoRecorder.scss";
@import "../scss/partials/videoDetail.scss";
@import "../scss/partials/buttons.scss";
@import "../scss/partials/videoPlayer.scss";
@import "../scss/partials/userDetails.scss";
@import "../scss/partials/videoBlock.scss";
@import "../scss/partials/searchVideo.scss";

html,body{
  background-color: $grey;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
  min-height: 70vh;
}

