mixin videoPlayer(video = {})
    .videoPlayer#jsVideoPlayer
        video(src=video.fileUrl id='jsVideoPlayerPreview')
        .videoPlayer__controls
            .videoPlayer__column
                span#volumeBtn   
                    i.fas.fa-volume-up
                input.videoPlayer__volume(type="range" min="0" max="1" step="0.1" value="0.5" id="volumeInput")
                span#currentVideoTime
                    span
                        | 00:00:00
                span
                    | /
                span#remainingVideoTime
                    span
                        | 00:00:00
            .videoPlayer__column
                span#playBtn
                    i.fas.fa-play
            .videoPlayer__column
                span#screenBtn
                    i.fas.fa-expand