.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70vh;
  form {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }
}

// .form-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: 70vh;
//   form {
//     display: flex;
//     flex-direction: column;
//     width: 40vw;
//     :last-child{
//         margin-top: 10px;
//         margin-bottom: 30px;
//     }
//     input {
//       padding: 10px 5px;
//       margin-bottom: 5px;
//     }
//   }
// }
