.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70vh;
  form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-right: 20px;
    input{
      padding: 15px 30px;
      border-radius: 15px;
      margin-bottom: 7px;
      border: 1px solid grey;
    }
  }
}

.socialLogin{
  .social-login--facebook{
    background-color: #3b5998 
  }
  .social-login--github{
    background-color: #211F1F;
  }
  .social-login--kakao{
    background-color: #ffe812;
    span{
      color: grey;
    }
  }
  button{
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid grey;
    a{
      text-decoration: none;
      color: white;
      font-weight: 600;
      span{
        vertical-align: middle;
        position: relative;
        bottom: 2px;
      }
      i{
        margin-right: 10px;
        font-size: large;
        position: relative;
        bottom: -2px;
      }
    }
  }
}
